:root {
    --background-color: #f8fafc;
    /* Page background */
    --surface-color: #ffffff;
    /* Cards, panels */
    --border-color: #e5e7eb;
    /* Borders */


    --color-primary: #2563eb;
    /* main brand: buttons */
    --color-primary-light: #3b82f6;
    /* active highlight */
    --color-primary-dark: #1e40af;
    /* side nav */


    --headings-color: #0f172a;
    /* Headings */
    --subtext-color: #475569;
    /* Subtext */
    --labels-color: #94a3b8;
    /* Labels */


    --success-color: #16a34a;
    /* Completed */
    --warning-color: #f59e0b;
    /* Pending */
    --danger-color: #dc2626;
    /* Overdue / Delete */


    --sidebar-bg: #1e293b;
    --sidebar-text: #cbd5f5;
    --sidebar-active: #2563eb;


    --heading-font-size: 1.5rem;
    --heading-font-weight: 600;
    --subheading-font-size: 1.25rem;
    --subheading-font-weight: 500;
    --subtext-font-size: 0.9rem;
    --subtext-font-weight: 400;
    --text-font-size: 1.15rem;
    --text-font-weight: 400;
}


body {
    font-family: 'Inter', sans-serif;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    margin: 0;
    padding: 0;
}